<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <h2>Meu Site</h2>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/produtos">CRUD</a></li>
        </ul>
    </nav>
</header>